@charset "utf-8";
/* CSS Document */
h2{
	text-align:center;
	color:#FFFCFC;
	font-size:24px;
	font-family:Garamound;
	font-style:normal;
	background:#1D05EC;
	
}
/**{
	background-color:#4417B4;
	font:Times
}*/
body{
	background-color:#E8E7E7;
}
h1{
	color:#9A0F11
}
form{
	border-color:#1D05EC;
}
/*style avec sélecteur mutliple*/
h3, h4{
	text-align:center;
	color:#FFFCFC;
	font-size:24px;
	font-family:Garamound;
	font-style:normal;
	background:#1D05EC;
}

select i{/*sélecteur parent enfant normale*/
	color:#F80C10
}
ul>li{/*sélecteur parent enfant direct*/
	background:#EF0307
}